<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Node Build</title>
        <script src="/javascript/helpers.js"></script>
    </head>
    <body>
        <input type="hidden" name="userId" value="{{ session.userId }}">
        <input type="hidden" name="userType" value="{{ session.userType }}">
        <div>
            <header>
                <h1>
                    <a href="/">Node Build</a>
                </h1>
                <nav>
                    {{#if session.loggedIn }}
                    <button id="logout">Log Out</button>
                    {{ else }}
                    <a href="/login">Log In</a>
                    {{/if}}
                </nav>
            </header>
            <main>
                {{{ body }}}
            </main>
            <footer>
                Thanks for visiting!
            </footer>
        </div>
    </body>
    <script src="/javascript/logout.js"></script>
</html>