<div>
    <div class="input-group mb-3">
        <input class="form-control" type="text" name="leagueName" id="leagueName" placeholder="League Name" aria-label="League Name" aria-describedby="League Name">
    </div>
    <div class="input-group mb-3">
        <input type="text" name="password" id="password" placeholder="Password (optional)" class="form-control">
    </div>
</div>
<input type="hidden" value="{{userId}}">