<div>My user ID is {{{ session.userId }}}</div>
<div>I am logged in: {{{ session.loggedIn }}}</div>
<link rel="stylesheet" href="stylesheets/index.css">
<link rel="stylesheet" href="stylesheets/admin.css">