<form id="loginForm" class="container-sm">
    <div class="input-group">
        <input type="text" class="form-control" name="emailLogin" id="emailLogin" placeholder="Email" aria-label="Email" aria-describedby="Email">
    </div>
    <div class="input-group">
        <input type="password" class="form-control" name="passwordLogin" id="passwordLogin" placeholder="Password" aria-label="Password">
    </div>
    <div>
        <button type="submit">Log In</button>
    </div>
</form>
<script src="/javascript/login.js"></script>