<form id="loginForm">
    <div>
        <label for="emailLogin">Email</label>
        <input type="text" name="emailLogin" id="emailLogin">
    </div>
    <div>
        <label for="passwordLogin">Password</label>
        <input type="password" name="passwordLogin" id="passwordLogin">
    </div>
    <div>
        <button type="submit">Log In</button>
    </div>
</form>
<form id="signupForm">
    <div>
        <label for="emailSignup">Email</label>
        <input type="text" name="emailSignup" id="emailSignup">
    </div>
    <div>
        <label for="passwordSignup">Password</label>
        <input type="password" name="passwordSignup" id="passwordSignup">
    </div>
    <div>
        <button type="submit">Sign Up</button>
    </div>
</form>
<script src="/javascript/login.js"></script>