<form id="loginForm">
    <div>
        <label for="emailLogin">Email</label>
        <input type="text" name="emailLogin" id="emailLogin">
    </div>
    <div>
        <label for="passwordLogin">Password</label>
        <input type="password" name="passwordLogin" id="passwordLogin">
    </div>
    <div>
        <button type="submit">Log In</button>
    </div>
</form>
<script src="/javascript/login.js"></script>

<link rel="stylesheet" href="stylesheets/index.css">
<link rel="stylesheet" href="stylesheets/admin.css">