<form id="loginForm" class="container-sm">
    <div class="input-group">
        <input type="text" class="form-control" name="emailLogin" id="emailLogin" placeholder="Email" aria-label="Email" aria-describedby="Email">
    </div>
    <div>
        <label for="passwordLogin">Password</label>
        <input type="password" name="passwordLogin" id="passwordLogin">
    </div>
    <div>
        <button type="submit">Log In</button>
    </div>
</form>
<script src="/javascript/login.js"></script>

<link rel="stylesheet" href="stylesheets/index.css">
<link rel="stylesheet" href="stylesheets/admin.css">