
<form id="signupForm" style="margin-top: 10px;">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="emailSignup" id="emailSignup" placeholder="Email">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First Name">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name">
    </div>
    <div class="input-group mb-3">
        <input type="password" class="form-control" name="passwordSignup" id="passwordSignup" placeholder="Password">
    </div>
    <div class="input-group mb-3">
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
</form>
<script src="/javascript/register.js"></script>