<div>
    {{data}}
</div>
<button id="getEventsButton">Get Events</button>
<button id="getTeamsButton">Get Teams</button>
<button id="getPlayersButton">Get Players</button>
<script type="module" src="/javascript/sportsdata-helpers.js"></script>