<div>
    {{#each teams as team}}
        <button onclick="syncPlayersFromTeams(this);" data-api-team-id="{{team.apiTeamId}}" data-api-id="{{team.apiId}}">{{team.name}}</button>
    {{/each }}
</div>
<button id="getEventsButton">Get Events</button>
<button id="getTeamsButton">Get Teams</button>
<button id="getPlayersButton">Get Players</button>
<script type="module" src="/javascript/sportsdata-helpers.js"></script>