<script type="module" src="/javascript/sportsdata-helpers.js"></script>
<div>
    {{#each teams}}
        <button class="team-button" data-api-team-id="{{ this.apiTeamId }}" data-api-id="{{ this.apiId }}">{{ this.name }}</button>
    {{/each}}
</div>
<button id="getEventsButton">Get Events</button>
<button id="getTeamsButton">Get Teams</button>
<button id="getPlayersButton">Get Players</button>