
<div id="allUsersDiv" >
	<div id="addUsersDiv" class="fright" >
	</div>
	<div class="userCont">
		<div class="customTableTabs NONGRADINGMODE" id="accountsTabs">
			<div class="tableTab active" data-columns="*" data-custom-table-id="0" onclick="showAllColumns(this);"><div style="padding-right: 30px;">Main Table</div></div>
			<div id="customTables"></div>
			<div class="tableTab showColumnsList"><i class="material-icons add" style="border-right: none;">add</i></div>
		</div>
		<div class="tableFilters margBottom"> 
				<div id="searchDiv" class="fancyInput">
				<form autocomplete="false" name="false" role="false" onsubmit="return false;">
					<i class="material-icons Fmed fleft">search</i>				
					<input id="searchStr" type="search" autocomplete="false" class="fancyBox" placeholder="Search" onchange="getUsers();" role="false">
				</form>
				</div>
				<div class="fancySelect margLeft">
					<select id="sortSelect" class="noBorder noTopMarg xLargeRadius" onchange="getUsers();"  >
						<option value='created' >Created Date (first to most recent)</option>
						<option value='created desc' >Created Date (most recent to first)</option>
						<option value='email' >EMAIL (A->Z)</option>
						<option value='email desc' >EMAIL (Z->A)</option>
						<option value='firstName' >First Name (A->Z)</option>
						<option value='firstName desc' >First Name (Z->A)</option>
						<option value='lastName'SELECTED>Last Name (A->Z)</option>
						<option value='lastName desc'>Last Name (Z->A)</option>
					</select>
				</div>
				<div class="subFilters autoW">
					<div class="moveGuy autoW">
						<div id="includeDeletedDiv" class="fancyCheck margRight margLeft" >
							<input id="includeDeleted" type="checkbox" class="checker autoW" onchange="getUsers();">
							<label class="  fleft" >Include Deleted Users</label>
						</div> 
					<div class="fancyCheck">
						<input class="checker autoW" id="showActiveOnly"  type="checkbox"  onchange="getUsers();" >
						<label >Show Active Users Only</label>
					</div>
					<button class="standardButton columnsButton NONGRADINGMODE" id="columnsButton"  data-status="collapsed" style="margin-left: 10px;">Columns</button>
				</div>
			</div>
			<div class="columnsGroup">
				<div class="columnsPopulate hidden" id="columnsPopulate">
					<div class="inp" id="selectAllColumns" onclick="setCheckedForClass('columnCheckInput', true); setDisplayForClass('SHOWALL', 'table-cell');">
						<label><!--for="accountNameCheck"-->Select All</label>
					</div>
					<div style="margin-top: 10px;">
						<input checked type="checkbox" id="fullNameCheck" data-column="fullName" class="columnCheckInput">
						<label for="fullNameCheck">User</label>
					</div>
					<div>
						<input checked type="checkbox" id="emailCheck" data-column="email"  class="columnCheckInput">
						<label for="emailCheck">Email</label>
					</div>
					<div>
						<input checked type="checkbox" id="userTypeCdMeaningCheck" data-column="userTypeCdMeaning"  class="columnCheckInput">
						<label for="userTypeCdMeaningCheck">Type</label>
					</div>
					<div>
						<input checked type="checkbox" id="statusCdMeaningCheck" data-column="statusCdMeaning"  class="columnCheckInput">
						<label for="statusCdMeaningCheck">Status</label>
					</div>
					<div class="SAVETABLESHOW hidden" style="margin-top: 5px;">
						<div class="globalButton" id="saveCurrentTable" onclick="saveNewTableView(this.dataset.customTableId);">Save Current Table</div>
						<div style="margin-top: 5px; font-size: var(--fontSmall); text-align: center;">or</div>
					</div>
					<input id="newTableName">
					<div class="globalButton" id="saveNewTable" onclick="saveNewTableView();">Create New Table</div>
				</div>
			</div>
			<div class="fright tableFilterRight" style="width: auto;">
				<div class="globalButton" onclick="addUser('CREATE');" style="margin-right: 10px;">Add user</div>
				<div id="exportSelect" onclick="exportTable();" class="globalButton" >Export as CSV</div>
			</div>
		</div>
		<div class="mainTable" onscroll="getMoreUsers(this);" id="usersLoadTable">
            <table>
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Email</th>
                        <th>Type</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody id="usersTable">
                </tbody>
            </table>
			<div class="loading"><div class=""></div></div>
		</div>
	</div>
</div>
<div id="addUserDiv" class="hidden ">
	<div class="CTAbtns">
		<button class="globalButton whiteButton" onclick="addUser('CANCEL');"id="cancelBtn">Back</button>
		<button class="globalButton fright " onclick="addUser('SAVE');" >Save</button> 
		<button id="passwordResetButton" class="globalButton fright margRight" onclick="addUser('PASSWORD');" >Send Password Reset Email</button>
	</div>
	<div class="editorContent">
		<div class="user-info-header">
			<h1 class="largeFont hidden">Add a new user</h1>
		</div> 
		<input id="userId" type="hidden">
		<input id="fullName" type="hidden">
		<div class="seconds margRight ">
			<div class="fancyInput width1">
				<label >First Name</label>
				<input id="firstName" type="text" class="">
			</div>
		</div>
		<div class="seconds noMarg">
			<div class="fancyInput width1">
				<label >Last Name</label>
				<input id="lastName" type="text" class="">
			</div>
		</div>
		<div class=" margRight  margTop ">
			<div class="fancyInput width1">
				<label>Email</label>
				<input id="email" type="text" class="">
			</div>
		</div>
		<div class="width1 margTop">
			<div class="seconds  margRight">
				<div class="fancyInput width1">
					<label >Password</label>
					<input id="password" type="password" >
				</div>
			</div>
			<div class="seconds ">
				<div class="fancyInput width1 ">
					<label >Confirm Password</label>
					<input id="confirmPassword" type="password" >
				</div>
			</div>
		</div>
		<div class="checkboxContainer">
			<div class="seconds margTop fancySelect margRight" >
			<span>User status</span>
				<div>
					<select id="userStatusSelect">
						<option value='ACTIVE'>Active</option>
						<option value='DELETED'>Deleted</option>
						<option value='REJECTED'>Rejected</option>
					</select>	
				</div>
			</div>
			<div class="seconds margTop fancySelect">
			<span>User type</span>
				<div>
					<select id="userTypeSelect">
						<option value='USER'>User</option>
						<option value='ADMINISTRATOR'>Administrator</option>
					</select>		
				</div>
			</div> 
		</div>
		<div id="profilePhotoURL" class="sectionHolder ">
			<span>Upload profile picture</span> 
			<i class="material-icons">add_a_photo</i>
		</div>
		<form action="model/uploadFile.php" id="profilePictureUpload" class="dropzone FcolorS Fsml hidden"></form>
	</div> 
</div>
<script src="./javascript/dropzone.js"></script>
<script src="./javascript/adminUsers.js"></script>